DJANGO_SECRET_KEY="change-me"
DJANGO_DEBUG="true"
DJANGO_ALLOWED_HOSTS="127.0.0.1,localhost"

MYSQL_DATABASE="interviewai"
MYSQL_USER="root"
MYSQL_PASSWORD=""
MYSQL_HOST="127.0.0.1"
MYSQL_PORT="3306"

GROQ_API_KEY=""
